core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
yt_api_key.py
client_secrets.json
*.pickle
creds.json
oauth_creds.json
oauth_yt_creds.json
oauth.json