{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="text-center logo-div my-container">
    <h1 class="logo">YouTube DJ</h1>
    <h3 class="tag-line">Tag line</h3>
</div>

<div class="container text-center text-container my-container">
    <p>Welcome to <span>YouTube DJ</span>, a website for making collaborative playlists, we call them Queues, with your
        friends and families. To fully utilize YouTube DJ, you must <a href="{% url 'account_signup' %}">register</a>
        and give
        us permission to create and edit playlists on your YouTube account. This access is only used to upload queues to
        YouTube (as unlisted playlists) as well a sync them.</p>
</div>
<div class="text-center text-container container my-container">
    {% if not user.is_authenticated %}
    <p>Have an account already, please <a href="{% url 'account_login' %}">login</a>.</p>
    {% else %}
    <p>You are logged in as <a href="{% url 'profile' %}">{{ user.nickname }}</a>.</p>
    <a href="{% url 'account_logout' %}"><button class="btn">Logout</button></a>
    {% endif %}
</div>

{% endblock content%}