{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section id="index">
    <div class="text-center logo-div my-container">
        <h1 class="logo">YouTube DJ</h1>
    </div>
<!-- About YouTube DJ -->
    <div class="my-container">
        <h4 class="text-center">Make playlists with your friends!</h4>
        <ul>
            <li class="my-list-item"><a href="{% url 'create_queue' %}">Create</a> a new queue!</li>
            <li class="my-list-item"><a href="{% url 'edit_queue' 1 %}">Add</a> videos to an existing queue.
            </li>
            <li class="my-list-item">Invite your friends to collaborate.</li>
            <li class="my-list-item">Publish the queue as a YouTube playlist.</li>
            <li class="my-list-item">Sync a queue to update the playlist.</li>
        </ul>
    </div>
    <div class="my-container last">
        <h4 class="text-center">How we use your Data</h4>
        <p>We only use your YouTube Data to create and edit playlists. This canYou can revoke these permissions at any
            time from the
            <a href="{% url 'profile' %}">Profile</a> page. You can also visit <a
                href="https://myaccount.google.com/connections">Third Party apps and Services</a> to invalidate the
            permissions on Google's end.
        </p>
    </div>
</section>
{% endblock content%}