{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center logo-div my-container">
            <h2 class="text-center logo">Welcome {{user.nickname}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="my-container text-center logo-div">
                <h3>Profile Data</h3>
            </div>
            <div class="my-container text-center">
                <ul>
                    {% for key, value in info_dict.items %}
                    <li>{{key}}: {{value}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="user-buttons-div" class="col-md-6 btn-group" role="group" aria-label="User Buttons">
            {% if not user.has_tokens %}
            <a href="{{authorization_url}}" target="_blank"><button type="button" class="btn btn-success">Give Youtube
                    DJ permissions</button></a>
            {% else %}
            <a href="{% url 'revoke_authorization' %}"><button type="button" class="btn btn-danger">Revoke
                    Credentials</button></a>
            {% endif %}
            <a href="{% url 'create_queue' %}"><button type="button" class="btn btn-success">Create New
                    Queue</button></a>
            
                    <div id="name-form-div">
                {% if not user.name %}
                Please add a name so that your friends know who made the queue or added the videos. (Maybe they will
                even move
                it up
                in the queue!)
                {% else %}
                Care to update your name? (This change will be reflected in all queues.)
                {% endif %}
                <form action="{% url 'set_name' %}" method="POST">
                    {% csrf_token %}
                    {% if user.name %}
                    <label for="name">New Name:</label><input type="text" name="name" id="name" placeholder="{{user.name}}" required>
                    {% else %}
                    <label for="name">Name:</label><input type="text" name="name" id="name" required>
                    {% endif %}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="logo-div text-center my-container">
                <h2>My Queues</h2>
            </div>
            {% for queue in my_queues %}
            <div class="my-container text-center">
                <h4><a href="{% url 'edit_queue' queue.id %}">{{queue.title}}</a></h4>
                <h5> {% if queue.length != 1 %}
                    {{queue.length}} videos
                    {% else %}
                    1 video
                    {% endif %}
                </h5>
                {% if is_owner %}
                <div class="owner-buttons btn-group" role="group" aria-label="Owner Buttons">
                    <a href="{% url 'gain_access' queue.secret queue.owner.secret %}"><button type="button"
                            class="btn btn-success">Share</button></a></h3>
                    {% if user.has_tokens %}
                    {% if not queue.published %}
                    <a href="{% url 'publish' queue.id %}"><button type="button"
                            class="btn btn-success">Publish</button></a>
                    {% else %}
                    <a href=" {% url 'sync' queue.id %}"><button type="button" class="btn btn-success">Sync</button></a>
                    {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="logo-div my-container text-center">
                <h2>My Friends' Queues</h2>
            </div>
            {% for queue in other_queues %}
            <div class="my-container text-center">
                <h4><a href="{% url 'edit_queue' queue.id %}">{{queue.title}}</a></h4>
                <h5>Created <!--on {{queue.date_created}} -->by {{queue.owner.nickname}}</h5>
                <h5> {% if queue.length != 1 %}
                    {{queue.length}} videos
                    {% else %}
                    1 video
                    {% endif %}
                </h5>
            </div>
            {% endfor %}
        </div>
        {% endblock content %}