{% extends 'base.html' %}

{% block content %}

<h2>Profile page for {{user_name}}</h2>
<h3>Profile Data</h3>
<ul>
    <li>View name: {{view_name}}</li>
    <li>User name: {{user_name}}</li>
    <li>Superuser? {{is_superuser}}</li>
    <li>Email: {{email}}</li>
    {% if old %}
    <li>old test data: {{old}}</li>
    {% endif %}
    <li>test data: {{test_data}}</li>
    <li>Linked Youtube Account: {{youtube_account}}</li>
    {% for key, value in test_dict.items %}
    <li>{{key}}:{{value}}</li>
    {% endfor %}
    <li>Message: {{ msg }}</li>
</ul>
{% if not has_tokens %}
<a href="{{authorization_url}}">Give Youtube DJ permissions.</a>
<hr>
{% else %}
<a href="{% url 'remove_authorization' %}">Remove Credentials</a>
<p>Note: Doing this will remove your credentials from our service. To remove the permissions on Google's end, please visit:</p>
<a href="https://myaccount.google.com/connections" target="_blank">Third party apps and services</a>
<hr>
{% endif %}
<a href="{% url 'test' %}">Test page</a>
<hr>
<a href="{% url 'profile' %}">Current Profile page</a>
<hr>
<a href="{% url 'test_function' %}">test function</a>
<hr>
<a href="{{test_data}}">URL testing for authorization</a>
{% endblock content %}