{% extends 'base.html' %}

{% block content %}
<div class="logo-div my-container text-center">
<h2>Create a New Queue</h2>
</div>
<div class="container my-container">
<form id="queue-form" method="POST" style="margin-top: 1.3em;">
    {% csrf_token %}
    <label for="queue-name" class="form-label">Name:</label>
    <input type="text" id="queue-name" class="form-control" name="queue-name">
    <label for="queue-description" class="form-label">Description:</label>
    <input type="textarea" class="form-control" id="queue-description" name="queue-description">
    <button id="submitButton" type="submit" class="btn btn-success btn-sm">Create Queue</button>
</form>
</div>

{% endblock content %}