{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section id="queue-info">
        <div class="logo-div my-container text-center">
            <h2 class="logo">Edit {{queue.title}}</h2>
        </div>
        <div class="queue-data my-container text-center">
            <h3>Owned by {{queue.owner.nickname}}</h3>
            <p>Created on {{queue.created_at}}</p>
            <h4>Description:</h4>
            <p>{{queue.description}}</p>
            <p><span id="queueLength">{{queue.length}}</span> entries</p>
            {% if queue.published %}
            <a href="{{queue.url}}" target="_blank"><button class="btn btn-success">Play on YouTube</button></a>
            {% endif %}
        </div>
        <div class="my-container text-center">
            <div class="my-button-group btn-group" role="group" aria-label="Control Queue Buttons 1">
                <a href="{% url 'edit_queue' queue.id %}"><button type="button"
                        class="btn btn-success">Refresh</button></a>
                {% if is_owner %}
                <a href="{% url 'gain_access' queue.secret queue.owner.secret %}"><button
                        class="btn btn-success">Share</button></a></h3>
                <!-- Delete Modal Trigger -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    class="btn btn-danger">Delete</button>
                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete {{queue.title}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to Delete queue.title?
                                This will delete the queue from YouTube DJ, but not delete the playlist from YouTube.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'delete_queue' queue.id %}"><button
                                        class="btn btn-danger">Delete</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-button-group btn-group" role="group" aria-label="Control Queue Buttons 2">
                {% if user.has_tokens %}
                {% if not queue.published %}
                <a href="{% url 'publish' queue.id %}"><button class="btn btn-success">Publish</button></a>
                {% else %}
                <!-- Unpublish Modal Trigger -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#unpublishModal"
                    class="btn btn-danger">Unpublish</button>
                <!-- Unpublish Modal -->
                <div class="modal fade" id="unpublishModal" tabindex="-1" aria-labelledby="unpublishModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="unpublishModalLabel">Unpublish {{queue.title}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to unpublish?
                                This will remove the playlist from YouTube, but not delete the Queue on YouTube DJ.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger">Unpublish</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a href=" {% url 'sync' queue.id %}"><button class="btn btn-success">Sync</button></a>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
    <section id="search-youtube">
        {% if queue.full %}
        <div class="logo my-container text-center">
            <h2 class="logo">The queue is full.</h2>
            <p>Remove some tracks if you would like to add more.</p>
        </div>
        {% else %}
        <section class="row my-container text-center">
            <h3>Search for videos or songs to add to the Queue.</h3>
            <form id="searchForm" method="POST">
                {% csrf_token %}
                <span>
                    <label class="form-label" for="searchQuery"></label>
                    <input type="text" id="searchQuery" name="searchQuery" class="form-control search-bar"
                        value="{{recent_search}}" placeholder="Search YouTube">
                </span>
                <button id="searchButton" type="submit" class="btn mt-3 btn-success btn-lg">Search</button>
            </form>
        </section>
        {% endif %}
    </section>
    <section id="search-results">
        <div class="col-md-6">
            <div class="logo-div my-container">
                <h3>Search results for {{recent_search}}</h3>
            </div>
            <div class="my-container">
                <ul>

                    {% for result in search_results %}
                    <li>
                        <div class="row d-flex align-items-center">
                            <div class="col-10">
                                <p>{{result.title}}</p>
                            </div>
                            <div class="col-2">
                                <a href="{% url 'add_entry' queue_id=queue.id video_id=result.id %}"><button
                                        class="btn btn-sm btn-success">Add</button></a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section id="queue-entries">
        <div class="container my-container col-md-6">
            {% if not queue.all_entries %}
            <div class="logo text-center">
                <h2 class="logo">No entries yet.</h2>
                <p>Add some videos to the Queue.</p>
            </div>
            {% else %}
            <ul>
                {% for entry in queue.all_entries %}
                <li>
                    <div id="div-{{entry.position}}" class="mb-3 pl-1 pr-1">
                        <div class="row d-flex align-items-center">
                            <div class="{% if is_owner %}col-9{% else %}col-12{% endif %}">
                                <h4>{{entry.position}}. {{entry.title_abv}} added by {{entry.username}} </h4>
                            </div>
                            {%if is_owner %}
                            <div class="col-3">
                                <!-- Remove Entry Modal Trigger-->
                                <button type="button" data-bs-toggle="modal" data-bs-target="#removeEntryModal"
                                    class="btn btn-sm btn-danger">Remove</button>
                                <!-- Remove Entry Modal-->
                                <div class="modal fade" id="removeEntryModal" tabindex="-1"
                                    aria-labelledby="removeEntryModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="removeEntryModalLabel">Remove
                                                    {{entry.title}}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to remove this video from the Queue?
                                                I suppose you can always add it back later.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <a href="{% url 'delete_entry' queue_id=queue.id entry_id=entry.id %}"><button
                                                        type="button" class="btn btn-danger">Remove</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% if is_owner %}
                        <div class="btn-group my-btn-border" role="group" aria-label="Position Control Buttons">
                            <!--<div class="position-div">-->
                            <button type="button" data-queue="{{queue.id}}" data-entry="{{entry.id}}"
                                class="move-btn btn btn-sm btn-warning" data-position="{{entry.position|add:-1}}"
                                data-direction="+">Up</button>
                            <button type="button" data-queue="{{queue.id}}" data-entry="{{entry.id}}"
                                class="move-btn btn btn-sm btn-warning" data-position="{{entry.position|add:1}}"
                                data-direction="-">Down</button>
                            <input id="new-position-{{entry.id}}" type="number" class="swap-input form-control">
                            <button type="button" class="btn btn-sm btn-warning" data-queue="{{queue.id}}"
                                data-entry="{{entry.id}}"><label for="new-position-{{entry.id}}"
                                    id="label-{{entry.id}}" class="js-form-label">Swap</label></button>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </section>
</div>
</section>
</div>
</div>
</div>
{% endblock content %}