{% extends 'base.html' %}

{% block content %}
<h2>Edit Queue {{queue.name}}</h2>
<div>
    <h4>Description:</h4>
    <p>{{queue.description}}</p>
</div>
<form id="searchForm" method="POST">
    {% csrf_token %}
    <span>
        <label for="searchQuery">Search:</label>
        <input type="text" id="searchQuery" name="searchQuery" placeholder="Wonderwall">
    </span>
    <button id="searchButton" type="submit" class="btn btn-lg">Search</button>
</form>
<div>
    <ol>
        {% for entry in entries %}
        <li>
            <span>{{entry.title}}: {{entry.duration}} added by yet to be implemented
                {% if is_owner %}
                <a href="{% url 'delete_entry' queue_id=queue.id entry_id=entry.id %}"><button
                        class="btn btn-md">Remove</button></a>
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </ol>
</div>
<div>
    <h3>Search results for {{recent_search}}</h3>
    <ul>
        {% for result in search_results %}
        <li>
            {{result.title}}

            <a href="{% url 'add_entry' queue_id=queue.id video_id=result.id %}"><button

                    class="btn btn-md">Add</button></a>
        </li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'profile'%}">Back to profile page.</a>
{% endblock content %}