/*
Black color: 0F0F0F
Red color: FF0000
Grey :272727
White: FFFFFF
other grey: AAAAAA
lighter grey from darkreader: 303436
*/





/* Base Styles */
body {
    background-color: #272727;
    color: white;
}

#style-override ul {
    list-style-type: none;
}

#style-override a {
    color: white;
}

#style-override .white {
    color: white;
}

#style-override .bkg-light-grey {
    background-color: #303436
}

#style-override .bkg-grey {
    background-color: #272727
}

#style-override .bkg-black {
    background-color: #0F0F0F
}

#style-override .border-white {
    border-color: white;
}

#style-override .border-light-grey {
    border-color: #303436
}

#style-override .border-grey {
    border-color: #272727
}

#style-override .border-black {
    border-color: #0F0F0F
}

/* Header Styles */
#style-override .title {
    margin: 5em;
}

/* Navbar Styles */
#style-override .navbar-toggler {
    border-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%255, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    border-width: 2px;
}


/* Messages Div */

#style-override .message-div {
    margin-top: 100px;
}

/* My Containers */

#style-override .my-container {
    align-self: center;
    padding: 30px;
    margin: 10%;
    border-radius: 15px;
    border-style: solid;
    border-color: #0f0f0f;
    border-width: 3px;
    justify-content: center;
    background-color: #303436;
}